//MYSQL Credentials
DB_USER=root
DB_PASSWORD=260497mfnt
DB_HOST=localhost
DB_NAME=sgc

//JWT
JWT_SECRET=]*eK5x],CUSi{(rkpM5rYJD#PG5;F(g.Sgar?_B}fq][)y3YXDM!f2zEgXZq9{D(9Afkpv,r!CZV#}Jgwhp:ba.!N-jW@ppnu$ZL6)CG4g_E2F*HL=@7t-$jL9TNPD/_*8*eDd?)][Gb/:_y.u2F,*%#r4pD{KAkA2RKym_Y8)22RNg5Q_ufMm!u;e9tFEB(?L{Gt]m,NjJ2mKT/u.*XNtg@H-S]Xj,u57Kc%H4+K$Xz_6dgUjG2acJ)e#VeG%VM

//SENTRY
SENTRY_DNS=https://9cf2723e220148c7a7b0de3039325c9f@o555099.ingest.sentry.io/
SENTRY_ID=5684522

//AES SECRET KEY
AES_KEY=!P#ka$(DUQ5EQx}PN!a3n!A(e%Vp:;hF9Sqkbdg#pauH[xA2EuqRD35buwZVzBPeG?t!B#Qy#/mV-RCa(K9&Xmb$fnuBSB-crjr}jUBuLW]MQxp##td[.RGm;2fRev_}TejKzb4rdy;g{SD&xNFxSFx@/]:=J:*=Q/xXu_,?qTAt/,pTu=Y_;KVe=jvpa7{D@U_zcCM=G*C+b2N=qqiKUz!a2Ac&%.zq8ME$*vTJ#eJ9%7J3b-2*)Z=[R}mykp&B

//Mailer
MAILER_EMAIL='sgcproject1@gmail.com'
MAILER_PASSWORD='zlakdkiozpeflfxz'
MAILER_HOST='smtp.gmail.com'
MAILER_PORT=465,
MAILER_SECURE=true